<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" parallel ="classes"    thread-count="5">
 <test thread-count="5" parallel="classes" name="Test">
    <classes>
       <class name="test.SouthIndianRecipesTest"/>
       <class name="test.HealthDiabeticRecipesTest"/>
       <class name="test.PunjabiRecipesTest"/>
       </classes>
  </test> 
 </suite> <!-- Suite -->
